# ref: https://hub.docker.com/_/postgres
services:
  db:
    image: postgres:17
    restart: always
    shm_size: 128mb
    volumes:
     - type: tmpfs
       target: /dev/shm
       tmpfs:
         size: 134217728 # 128MB
    environment:
      POSTGRES_DB: app-local
      POSTGRES_USER: app
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
