name = "workers-supabase-integration"
compatibility_date = "2025-11-25"
compatibility_flags = [ "nodejs_compat" ]
main = "./backend/index.ts"
preview_urls = false
workers_dev = false

[observability]
enabled = true

[assets]
not_found_handling = "single-page-application"
run_worker_first = [ "/api/*" ]

#
# Local environment
#
[env.development]
name = "workers-supabase-integration-local"

#
# Staging
#
[env.staging]
name = "workers-supabase-integration-stg"

[[env.staging.routes]]
pattern = "stg-workers-supabase-integration.enchan.me"
custom_domain = true

#
# Production
#
[env.production]
name = "workers-supabase-integration-prod"

[[env.production.routes]]
pattern = "workers-supabase-integration.enchan.me"
custom_domain = true
