name = "worker-static-assets"
compatibility_date = "2025-11-25"
compatibility_flags = [ "nodejs_compat" ]
main = "./backend/index.ts"
preview_urls = false
workers_dev = false

[observability]
enabled = true

[assets]
not_found_handling = "single-page-application"
run_worker_first = [ "/api/*" ]

#
# Staging
#
[env.staging]
name = "worker-static-assets-stg"

[[env.staging.routes]]
pattern = "stg-worker-static-assets.enchan.me"
custom_domain = true

#
# Production
#
[env.production]
name = "worker-static-assets-prod"

[[env.production.routes]]
pattern = "worker-static-assets.enchan.me"
custom_domain = true
